Generator/web/WEB-INF/wsdl/ilja-pc_8080/WeatherService/WeatherService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://new.webservice.namespace" targetNamespace="http://new.webservice.namespace">
	<wsdl:types>
		<xs:schema targetNamespace="http://new.webservice.namespace" elementFormDefault="qualified">
			<xs:element name="WeatherTypes" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:all>
						<xs:element name="wind" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
						<xs:element name="temp" type="tns:tempTypeEnum" minOccurs="0" maxOccurs="1"/>
						<xs:element name="moist" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
						<xs:element name="clouds" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
						<xs:element name="from" type="tns:dateType" minOccurs="1" maxOccurs="1"/>
						<xs:element name="to" type="tns:dateType" minOccurs="1" maxOccurs="1"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="SpecifiedWeatherElementResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SpecifiedWeatherElement" type="tns:specWeatherType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="WeatherElementList">
				<xs:complexType>
					<xs:element name="WeatherElement" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="windSpeed" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
								<xs:element name="temp" type="tns:tempTypeEnumOut" minOccurs="1" maxOccurs="1"/>
								<xs:element name="moist" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
								<xs:element name="clouds" type="xs:string" minOccurs="1" maxOccurs="1"/>
								<xs:element name="date" type="tns:dateType" minOccurs="1" maxOccurs="1"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="specWeatherType">
				<xs:sequence>
					<xs:element name="windSpeed" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
					<xs:element name="temp" type="tns:tempTypeEnumOut" minOccurs="0" maxOccurs="1"/>
					<xs:element name="moist" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
					<xs:element name="clouds" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="date" type="tns:dateType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="tempTypeEnum">
				<xs:restriction base="xs:string">
					<xs:enumeration value="celsius"/>
					<xs:enumeration value="fahrenheit"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="tempTypeEnumOut">
				<xs:choice>
					<xs:element name="celsius" type="tns:CelsiusType"/>
					<xs:element name="fahrenheit" type="tns:FahrenheitType"/>
				</xs:choice>
			</xs:complexType>
			<xs:simpleType name="FahrenheitType"> 
				<xs:restriction base="xs:decimal"> 
					<xs:minInclusive value="-58"/>
					<xs:maxInclusive value="122"/>
					<xs:fractionDigits value="2"/> 
				</xs:restriction> 
			</xs:simpleType>
			<xs:simpleType name="CelsiusType"> 
				<xs:restriction base="xs:decimal"> 
					<xs:minInclusive value="-50"/>
					<xs:maxInclusive value="50"/>
					<xs:fractionDigits value="2"/> 
				</xs:restriction> 
			</xs:simpleType>
			<xs:simpleType name="dateType">
				<xs:restriction base="xs:dateTime">
					<xs:minInclusive value="2014-01-01"/>
					<xs:maxInclusive value="2015-01-01"/>
					<xs:pattern value=".{10}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getSpecifiedWeather">
		<wsdl:part name="parameter" element="tns:WeatherTypes"/>
	</wsdl:message>
	<wsdl:message name="getSpecifiedWeatherResponse">
		<wsdl:part name="parameter" element="tns:SpecifiedWeatherElementResponse"/>
	</wsdl:message>
	<wsdl:message name="getAllWeather"/>

	<wsdl:message name="getAllWeatherResponse">
		<wsdl:part name="parameter" element="tns:WeatherElementList"/>
	</wsdl:message>
	<wsdl:portType name="WeatherServicePortType">
		<wsdl:operation name="getSpecifiedWeather">
			<wsdl:input message="tns:getSpecifiedWeather"/>
			<wsdl:output message="tns:getSpecifiedWeatherResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getAllWeather">
			<wsdl:input message="tns:getAllWeather"/>
			<wsdl:output message="tns:getAllWeatherResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WeatherServiceBinding" type="tns:WeatherServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getSpecifiedWeather">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllWeather">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WeatherService">
		<wsdl:port name="NewPort" binding="tns:WeatherServiceBinding">
			<soap:address location="http://ilja-pc:8080/WeatherService/WeatherService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>